.not-found-page {
  padding: 4rem 0;
  text-align: center;
}

.not-found-page h1 {
  font-size: 8rem;
  color: var(--primary-color);
  margin-bottom: 0;
  line-height: 1;
}

.not-found-page h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.not-found-page p {
  color: var(--text-light);
  margin-bottom: 2rem;
}
